{{# artboards }}
<article id="{{ id }}">
  <header>
    <h2>{{ title }}</h2>
  </header>
  <section class="content">
    {{{ text }}}
  </section>
  <section class="image">
    <img src="{{ image }}">
  </section>
</article>
{{/ artboards }}