{{> cssnormalize }}

body {
  margin: 0 0 0 250px;
}

header#main {
  background: {{ primary }};
  color: #FFFFFF;
}
  header#main h1 {
    margin: 0;
  }

nav#main-nav {
  position: fixed;
  width: 250px;
  top: 0;
  left: 0;
  bottom: 0;
  background: #FFFFFF;
}

.retina-image{
    zoom: 50%;
}