<nav role="navigation">
  {{# logo.length }}
    <a href="index.html"><img src="img/_logo.png"></a>
  {{/ logo.length }}
  <ul>
    {{# menu }}
      <li>
        <a href="{{ url }}">{{ name }}</a>
        <ul>
          {{# artboards }}
            <li>
              <a href="{{ url }}">{{ name }}</a>
            </li>
          {{/ artboards }}
        </ul>
      </li>
    {{/ menu }}
  </ul>
</nav>