<nav role="navigation" id="main-nav">
  <header class="logo">
  {{# logo.length }}
    <a href="index.html"><img src="assets/logo.png"></a>
  {{/ logo.length }}
  </header>
  <ul>
    {{# menu }}
      <li id="{{ id }}">
        <a href="{{ url }}">{{ name }}</a>
        <ol>
          {{# artboards }}
            <li>
              <a href="{{ url }}" class="{{classname}}">{{ name }}</a>
            </li>
          {{/ artboards }}
        </ol>
      </li>
    {{/ menu }}
  </ul>
</nav>